body {
  font-family: 'consolas';
  background-color: #000000;
  color: white;
  overflow: hidden;
  align-items: center;
  user-select: none;
}

h1 {
  position: absolute;
  margin-left: 40%;
  margin-top: 10%;
  transform: scale(3);
}

h6 {
  color: white;
  position: absolute;
  display: none;
}

input {
  background-color: rgb(18, 18, 18);
  border: rgb(18, 18, 18);
  color: white;
  position: absolute;
  margin-left: 37%;
  align-items: center;
  font-family: 'consolas';
  user-select: none;
}

button {
  background-color: rgb(18, 18, 18);
  border: 0;
  border-radius: 10%;
  color: white;
  position: absolute;
  margin-left: 50%;
  align-items: center;
  font-family: 'consolas';
}

button:active {
  transform: scale(1.4);
}

input, button {
  margin-top: 25%;
  transform: scale(1.5);
}


h1 {
  color: white;
}
