.tooltip {
    position: absolute;
    background-color: rgb(30, 30, 30, 0.95);
    backdrop-filter: blur(5px);
    width: 100px;
    height: 25px;
    border-radius: 0.4em;
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    text-align: center;
    user-select: none;
}

.tooltipText {
    transform: translateY(10%);
}

.bitcoin > .tooltipText, .Ethereum > .tooltipText, .Litecoin > .tooltipText {
    transform: translateY(30%);
}

.yt > .tooltip, .ghub > .tooltip, .guns > .tooltip, .ig > .tooltip, .x > .tooltip {
    transition-delay: 0.3s;
    transform: translate(-30%, 10%);
}